<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tri2Vec</title>
</head>
<body>
    <h1>Tri2Vec Clinical Trial Matching</h1>
    <p>Call our Twilio number and tell us about your medical situation or the type of trial you want to join.</p>
    <p>Your description is converted into a vector embedding and compared daily to new and ongoing trials.</p>
    <p>If we find a match we will send you an SMS with a link to the trial so you can get in touch with the researchers.</p>
    <p>We keep track of which trials we have already sent you so you won't receive the same notification twice.</p>
</body>
</html>
